#sidebar {
  width: 100%;
  background-color: $darkBlueColor;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  p {
    margin-bottom: 0;
  }
  .toggle-menu {
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 0;
    border: 0;
    left: calc(100% + 10px);
    top: 10px;
    background-color: $darkBlueColor;
    // opacity: 0.2;
    display: none;
    z-index: 999;
    &:hover {
      opacity: 1;
    }
  }
  .sidebar-wrapper {
    position: relative;
    padding: 26px 39px;
    // .user-wrapper {
    //   display: flex;
    //   align-items: center;
    //   .avatar {
    //     height: 40px;
    //     width: 40px;
    //     background-color: $yellowTextColor;
    //     border-radius: 50%;
    //     margin-right: 8px;
    //   }
    //   .username {
    //     p {
    //       font-size: 14px;
    //       font-weight: 700;
    //       color: $lightBlueColor-1;
    //     }
    //   }
    // }
    .sidebar-list {
      .sidebar-content {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .sidebar-item {
          .sidebar-link {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            color: $lightBlueColor-0 !important;
            text-align: center;
            &.active {
              font-weight: 700;
              color: $lightBlueColor-3 !important;
              .sidebar-icon {
                opacity: 1;
              }
            }
            &:first-child {
              margin-top: 25px;
            }
            .sidebar-icon {
              width: 40px;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 9;
    width: $sidebarSize;
    transform: translateX(-100%);
    &.active {
      transform: translate(0);
      &:after {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba($color: $darkBlueColor, $alpha: 0.4);
        backdrop-filter: blur(10px);
      }
    }
    p {
    }
    .toggle-menu {
      display: block;
    }
    .sidebar-wrapper {
      background-color: $darkBlueColor;
      padding: 20px;
      height: 100%;
      overflow: auto;
      top: 0;
      .user-wrapper {
        .avatar {
        }
        .username {
          p {
          }
        }
      }
      .sidebar-list {
        .sidebar-content {
          .sidebar-item {
            .sidebar-link {
              &.active {
                svg {
                }
                .sidebar-icon {
                }
              }
              &:first-child {
              }
              .sidebar-icon {
              }
            }
          }
        }
      }
    }
  }
}
