.investment-history {
  p {
    margin-bottom: 0;
  }
  .investment-history__header {
    margin-bottom: 40px;
    .title-wrapper {
      .title {
        font-size: 36px;
        font-weight: 300;
        color: white;
        line-height: 36px;
      }
    }
  }
  .investment-history__content {
    .history-wrapper {
    }
  }
}

.investment-history-item {
  background-color: $modalBackground;
  border-radius: 5px;
  padding: 40px 30px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .info-wrapper {
    display: flex;
    align-items: center;
    min-width: 370px;
    height: 100%;
    .wrapper-left {
      .avatar {
        position: relative;
        overflow: hidden;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: #9792e0;
        color: $lightBlueColor-2;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .wrapper-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 18px;
      .name {
        color: $lightBlueColor-2;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 4px;
      }
      .sub {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $lightBlueColor-2;
        .expert {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: yellow;
          font-size: 12px;
          border-radius: 3px;
          height: 20px;
          width: 48px;
          color: $blackColor-1;
          margin-right: 9px;
        }
        .percent {
          font-size: 14px;
          font-weight: 700;
          color: $darkGreenColor;
        }
      }
    }
  }
  .detail-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .detail-item {
      margin-left: 3vw;
      &:first-child {
        margin-left: 0;
      }
      .name {
        font-size: 16px;
        color: $lightBlueColor-2;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 5px;
      }
      .value {
        font-size: 24px;
        line-height: 24px;
        color: $greenColor;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .button-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    .button-wrapper__button {
      display: flex;
      button {
        &:last-child {
          margin-left: 18px;
        }
      }
    }
    .button-wrapper__sub {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      color: $lightBlueColor-2;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 1464px) {
  .investment-history {
    p {
      .investment-history__header {
        .title-wrapper {
          .title {
          }
        }
      }
    }
    .investment-history__content {
      .history-wrapper {
      }
    }
  }

  .investment-history-item {
    &:last-child {
    }
    .info-wrapper {
      .wrapper-left {
        .avatar {
        }
      }
      .wrapper-right {
        .name {
        }
        .sub {
          .expert {
          }
          .percent {
          }
        }
      }
    }
    .detail-wrapper {
      display: flex;
      justify-content: flex-end;
      .detail-item {
        &:first-child {
        }
        .name {
        }
        .value {
        }
      }
    }
    .button-wrapper {
      margin-top: 10px;
      .button-wrapper__button {
        button {
          &:last-child {
          }
        }
      }
      .button-wrapper__sub {
      }
    }
  }
}

@media only screen and (max-width: 1134px) {
  .investment-history {
    p {
      .investment-history__header {
        .title-wrapper {
          .title {
          }
        }
      }
    }
    .investment-history__content {
      .history-wrapper {
      }
    }
  }

  .investment-history-item {
    padding: 20px;
    &:last-child {
    }
    .info-wrapper {
      .wrapper-left {
        .avatar {
        }
      }
      .wrapper-right {
        .name {
        }
        .sub {
          .expert {
          }
          .percent {
          }
        }
      }
    }
    .detail-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      .detail-item {
        &:first-child {
        }
        .name {
        }
        .value {
        }
      }
    }
    .button-wrapper {
      margin-top: 10px;
      .button-wrapper__button {
        button {
          &:last-child {
          }
        }
      }
      .button-wrapper__sub {
      }
    }
  }
}
.invest-loss {
  color: #d83a39 !important;
}
