.wallet {
  p {
    margin-bottom: 0;
  }
  .title-wrapper {
    color: white;
    margin-bottom: 50px;
    .title {
      font-size: 36px;
      font-weight: 300;
    }
    .sub {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .section-name {
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin-top: 142px;
    margin-bottom: 50px;
  }
}
.transfer {
  p {
    margin-bottom: 0;
  }
  .modal-content {
    max-width: 600px;
    background-color: #20284f;
  }
  .modal-header {
    border-bottom: 1px solid #3d436f;
    padding: 55px 0;
    position: relative;
    text-align: center;
    .close-wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      height: 100%;
      top: 0;
      right: 47px;
      button {
        outline: 0;
        border: 0;
        background-color: transparent;
      }
    }
    .modal-name {
      width: 100%;
      p {
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
        color: #c2cdf2;
      }
    }
  }
  .modal-body {
    padding: 0;
    position: relative;
    .transfer-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .content-wrapper {
      background-color: transparent;
      display: flex;
      align-items: stretch;
      height: 138px;
      font-size: 20px;
      font-weight: 700;
      color: $lightBlueColor-2;
      .from-wrapper {
        flex: 1;
        position: relative;
        border-right: 1px solid #3d436f;
        display: flex;
        align-items: center;
        justify-content: center;
        .name {
          position: absolute;
          font-size: 16px;
          font-weight: 400;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          color: #6d7193;
        }
      }
      .to-wrapper {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .name {
          position: absolute;
          font-size: 16px;
          font-weight: 400;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          color: #6d7193;
        }
      }
    }
  }
  .modal-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3d436f;
    align-items: stretch;
    padding: 27px 40px;
    .detail-wrapper {
      display: flex;
      justify-content: space-between;
      p {
        color: #6d7193;
        font-size: 16px;
        font-weight: 400;
      }
      .number {
        color: $lightBlueColor-2;
      }
      .available-wrapper {
        display: flex;
        justify-content: flex-end;
      }
    }
    .button-wrapper {
      .input {
        position: relative;
        .currency {
          right: 17px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          color: #40da6c;
          font-size: 16px;
          font-weight: 400;
        }
        input {
          width: 100%;
          border: 0;
          outline: 0;
          background-color: #3e446a;
          height: 40px;
          border-radius: 5px;
          padding-left: 23px;
          padding-right: 70px;
          color: #40da6c;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .button {
        button {
          margin-top: 16px;
          height: 50px;
          width: 100%;
          border-radius: 5px;
          background-color: #3fc66d;
          outline: 0;
          border: 0;
          font-size: 16px;
          color: white;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    .alert-detail {
      color: #fdd65b;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-top: 30px;
    }
  }
}
.table-transfer-history {
  .amount {
    color: #40da6c;
    font-weight: 700;
  }
  .status {
    color: #40da6c;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1120px) {
  .wallet {
    p {
    }
    .title-wrapper {
      .title {
      }
      .sub {
      }
    }
    .section-name {
    }
  }
  .transfer {
    flex-direction: column;
    .real-account {
      width: 100%;
      max-width: unset;
      margin-right: 0;
      margin-bottom: 20px;
      height: 160px;
      .name {
      }
      .arrow {
        left: 50%;
        top: unset;
        transform: translateX(-50%) rotate(90deg);
        bottom: -35px;
      }
    }
    .transfer-input {
      width: 100%;
      max-width: unset;
      margin-right: 0;
      margin-bottom: 20px;
      .arrow {
        top: unset;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        bottom: -35px;
      }
      p {
        margin-top: 20px;
      }
      .input-wrapper {
        input,
        button {
        }
        .input {
          .currency {
          }
          input {
          }
        }
        .button {
          button {
          }
        }
      }
    }
    .copy-trade-account {
      height: 160px;
      width: 100%;
      max-width: unset;
      .name {
      }
    }
  }
}
