$backgroundColor: #13183d;
$darkBlueColor: #222854;
$blueColor: #392de2;
$lightBlueColor-0: #5a6895;
$lightBlueColor-1: #b6c3ed;
$lightBlueColor-2: #c2cdf2;
$lightBlueColor-3: #dbe3ff;
$yellowTextColor: #e9cb22;
$lightGreenColor: #19a78b;
$darkGreenColor: #2aa74e;
$blackColor-1: #464646;
$leaderBorderColor: #3d436f;
